
<div class="mail">
    <div class="container">
        <h3>Profile</h3>
        <div class="row">
            <div class="col-md-12 contact-left">
                <h4>{{title}}</h4>
                <ul>
                    <li>Họ tên: {{user.fullname}}</li>
                    <li>Địa chỉ email: {{user.email}}</li>
                    <li>Số điện thoại: {{user.phone}}</li>
                    <li>Địa chỉ liên hệ: {{user.address}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>